<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <h1>Scraped Articles</h1>
        {{#each allArticles}}
        <br>
        <div class="input-group">
            <a href="{{this.link}}" target="_blank" class="form-control">{{this.title}}</a>
            <span class="input-group-btn">
                <form method="POST" action="/save/{{this.id}}">
                    <button type="submit" class="btn btn-secondary">Save Article</button>
                </form>
            </span>
        </div>
        {{/each}}
    </div>
    <div class="col-md-1">

    </div>
</div>