<div class="row">
  <div class="col-md-12">
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <h1 class="display-3">Mongo Scraper</h1>
        <br>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape</a>
        </p>
      </div>
    </div>
  </div>
</div>