<div class="row">
  <div class="jumbotron">
    <div class="container text-center">
        <h1 class="display-3">Mongo Scraper App</h1>
        <br>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape</a>
        </p>        
    </div>
  </div>
</div>