{{!-- <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h4>{{articles.title}}</h4>
                </div>
            </div>
        </div> --}}
        

        {{!-- <div class="row">
            <form method="POST" action="/articles/{{articles.id}}">
                <div class="form-group">
                    <label for="body">Note:</label>
                    <textarea class="form-control" id="body" rows="2" required="true" name="body"></textarea>
                    <br>
                    <button type="submit" class="btn btn-secondary submitNote">Add Note</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3">

    </div> --}}
{{!-- </div> --}}